## <center>This Notebook will be used to prepare the Bicycle Trip Data <br>for use in the Machine Learning Models</center>

In [1]:
# Importing requisite libraries
import pandas as pd
import os

In [2]:
# Set up data path and data file name
data_path = 'data'

In [3]:
# Import Specialized bike data to dataframe
sp_data = 'SpecializedTrips.csv'
sp_df = pd.read_csv(os.path.join(data_path, sp_data))
sp_df

        Date               Destination  Miles  Hours  Minutes  Duration  Speed
0    5/28/16                     CP BL   7.99    NaN     50.0      0.83   9.59
1    6/19/16             Down ES Up ES  13.98    1.0     51.0      1.85   7.56
2     7/3/16             Down ES UP WS  17.84    2.0     10.0      2.17   8.23
3    7/10/16             Down ES UP WS  18.38    2.0     20.0      2.33   7.88
4    7/16/16             Down ES UP WS  17.99    2.0      5.0      2.08   8.64
..       ...                       ...    ...    ...      ...       ...    ...
207  5/23/21              Wards Island  14.52    1.0     58.0      1.97   7.38
208  5/31/21                     CP BL   7.69    NaN     50.0      0.83   9.23
209   6/7/21              Dn ES Up LWS  16.45    1.0     58.0      1.97   8.36
210  6/16/21     Up Dn WS to GWB Up ES  30.18    3.0     32.0      3.53   8.54
211  6/19/21  Wards Island Exploration  16.48    1.0     59.0      1.98   8.31

[212 rows x 7 columns]

In [4]:
# Add Label for Specialized Data
sp_df['Type'] = "Specialized"
sp_df

,Date,Destination,Miles,Hours,Minutes,Duration,Speed,Type
0,5/28/16,CP BL,7.99,NaN,50.0,0.83,9.59,Specialized
1,6/19/16,Down ES Up ES,13.98,1.0,51.0,1.85,7.56,Specialized
2,7/3/16,Down ES UP WS,17.84,2.0,10.0,2.17,8.23,Specialized
3,7/10/16,Down ES UP WS,18.38,2.0,20.0,2.33,7.88,Specialized
4,7/16/16,Down ES UP WS,17.99,2.0,5.0,2.08,8.64,Specialized
...,...,...,...,...,...,...,...,...
207,5/23/21,Wards Island,14.52,1.0,58.0,1.97,7.38,Specialized
208,5/31/21,CP BL,7.69,NaN,50.0,0.83,9.23,Specialized
209,6/7/21,Dn ES Up LWS,16.45,1.0,58.0,1.97,8.36,Specialized
210,6/16/21,Up Dn WS to GWB Up ES,30.18,3.0,32.0,3.53,8.54,Specialized
211,6/19/21,Wards Island Exploration,16.48,1.0,59.0,1.98,8.31,Specialized

In [5]:
# Import Citibike data to datafram
cb_data = 'CitibikeTrips.csv'
cb_df = pd.read_csv(os.path.join(data_path, cb_data))
cb_df

         Date         Destination  Miles  Hours  Minutes  Duration  Speed
0     6/15/16    Citibike to Work   1.04    NaN        9      0.15   6.93
1     6/17/16    Citibike to Work   1.20    NaN       13      0.22   5.54
2     6/17/16     Work to Village   4.69    NaN       40      0.67   7.04
3     6/21/16    Citibike to Work   1.12    NaN       10      0.17   6.72
4     6/21/16  Citibike from Work   0.78    NaN        7      0.12   6.69
..        ...                 ...    ...    ...      ...       ...    ...
150  12/29/20          To Trek WS   3.39    NaN       19      0.32  10.71
151   3/26/21       To El Tepeyac   3.10    NaN       28      0.47   6.64
152   5/11/21           To Toyota   2.49    NaN       21      0.35   7.11
153   6/16/21     To Kalustiyan's   1.89    NaN       16      0.27   7.09
154   6/16/21    From Kalustyan's   2.43    NaN       22      0.37   6.63

[155 rows x 7 columns]

In [6]:
# Add Label for Citibike Data
cb_df['Type'] = 'Citibike'
cb_df

,Date,Destination,Miles,Hours,Minutes,Duration,Speed,Type
0,6/15/16,Citibike to Work,1.04,NaN,9,0.15,6.93,Citibike
1,6/17/16,Citibike to Work,1.20,NaN,13,0.22,5.54,Citibike
2,6/17/16,Work to Village,4.69,NaN,40,0.67,7.04,Citibike
3,6/21/16,Citibike to Work,1.12,NaN,10,0.17,6.72,Citibike
4,6/21/16,Citibike from Work,0.78,NaN,7,0.12,6.69,Citibike
...,...,...,...,...,...,...,...,...
150,12/29/20,To Trek WS,3.39,NaN,19,0.32,10.71,Citibike
151,3/26/21,To El Tepeyac,3.10,NaN,28,0.47,6.64,Citibike
152,5/11/21,To Toyota,2.49,NaN,21,0.35,7.11,Citibike
153,6/16/21,To Kalustiyan's,1.89,NaN,16,0.27,7.09,Citibike
154,6/16/21,From Kalustyan's,2.43,NaN,22,0.37,6.63,Citibike

In [7]:
# Combine the dataframes
all_data = [sp_df, cb_df]
all_df = pd.concat(all_data)
all_df

,Date,Destination,Miles,Hours,Minutes,Duration,Speed,Type
0,5/28/16,CP BL,7.99,NaN,50.0,0.83,9.59,Specialized
1,6/19/16,Down ES Up ES,13.98,1.0,51.0,1.85,7.56,Specialized
2,7/3/16,Down ES UP WS,17.84,2.0,10.0,2.17,8.23,Specialized
3,7/10/16,Down ES UP WS,18.38,2.0,20.0,2.33,7.88,Specialized
4,7/16/16,Down ES UP WS,17.99,2.0,5.0,2.08,8.64,Specialized
...,...,...,...,...,...,...,...,...
150,12/29/20,To Trek WS,3.39,NaN,19.0,0.32,10.71,Citibike
151,3/26/21,To El Tepeyac,3.10,NaN,28.0,0.47,6.64,Citibike
152,5/11/21,To Toyota,2.49,NaN,21.0,0.35,7.11,Citibike
153,6/16/21,To Kalustiyan's,1.89,NaN,16.0,0.27,7.09,Citibike
154,6/16/21,From Kalustyan's,2.43,NaN,22.0,0.37,6.63,Citibike

In [8]:
# Sort the combined dataframe randomly
all_df = all_df.sample(frac=1).reset_index(drop=True)
all_df

,Date,Destination,Miles,Hours,Minutes,Duration,Speed,Type
0,6/27/20,Wards Island,13.80,1.0,49.0,1.82,7.60,Specialized
1,10/19/18,CP BL,7.44,NaN,52.0,0.87,8.58,Specialized
2,10/6/16,Citibike to Work,1.27,NaN,10.0,0.17,7.62,Citibike
3,6/30/16,Citibike from Work,1.11,NaN,10.0,0.17,6.66,Citibike
4,5/5/21,Dn UWS Up ES,21.25,2.0,31.0,2.52,8.44,Specialized
...,...,...,...,...,...,...,...,...
362,9/20/16,Citibike to Work,1.09,NaN,12.0,0.20,5.45,Citibike
363,11/17/16,Citibike from Work,0.79,NaN,7.0,0.12,6.77,Citibike
364,6/7/20,To From Astoria,8.25,2.0,1.0,2.02,4.09,Specialized
365,6/21/16,Citibike from Work,0.78,NaN,7.0,0.12,6.69,Citibike
366,7/3/16,Down ES UP WS,17.84,2.0,10.0,2.17,8.23,Specialized

In [9]:
# Export to CSV file for use in Machine Learning Model
all_data_file = 'all_data.csv'
all_df.to_csv(os.path.join(data_path, all_data_file), index=False)