## <center>This Notebook will be used to prepare the Bicycle Trip Data <br>for use in Machine Learning Models</center>

In [1]:
# Importing requisite libraries
import pandas as pd
import os

In [2]:
# Set up data path and data file name
data_path = 'data'

In [3]:
# Import Specialized bike data to dataframe
sp_data = 'SpecializedTrips.csv'
sp_df = pd.read_csv(os.path.join(data_path, sp_data))
sp_df

        Date            Destination  Miles  Hours  Minutes  Duration  Speed
0    5/28/16                  CP BL   7.99    NaN     50.0      0.83   9.59
1    6/19/16          Down ES Up ES  13.98    1.0     51.0      1.85   7.56
2     7/3/16          Down ES UP WS  17.84    2.0     10.0      2.17   8.23
3    7/10/16          Down ES UP WS  18.38    2.0     20.0      2.33   7.88
4    7/16/16          Down ES UP WS  17.99    2.0      5.0      2.08   8.64
..       ...                    ...    ...    ...      ...       ...    ...
222  8/24/21           Dn ES Up LWS  16.41    1.0     58.0      1.97   8.34
223   9/3/21  Up Dn WS to GWB Up ES  29.80    3.0     23.0      3.38   8.81
224   9/9/21           Wards Island  13.30    1.0     43.0      1.72   7.75
225  9/10/21           Dn UWS Up ES  22.57    2.0     41.0      2.68   8.41
226  9/16/21           Dn ES Up LWS  16.32    1.0     55.0      1.92   8.51

[227 rows x 7 columns]

In [4]:
# Add Label for Specialized Data
sp_df['Type'] = "Specialized"
sp_df

,Date,Destination,Miles,Hours,Minutes,Duration,Speed,Type
0,5/28/16,CP BL,7.99,NaN,50.0,0.83,9.59,Specialized
1,6/19/16,Down ES Up ES,13.98,1.0,51.0,1.85,7.56,Specialized
2,7/3/16,Down ES UP WS,17.84,2.0,10.0,2.17,8.23,Specialized
3,7/10/16,Down ES UP WS,18.38,2.0,20.0,2.33,7.88,Specialized
4,7/16/16,Down ES UP WS,17.99,2.0,5.0,2.08,8.64,Specialized
...,...,...,...,...,...,...,...,...
222,8/24/21,Dn ES Up LWS,16.41,1.0,58.0,1.97,8.34,Specialized
223,9/3/21,Up Dn WS to GWB Up ES,29.80,3.0,23.0,3.38,8.81,Specialized
224,9/9/21,Wards Island,13.30,1.0,43.0,1.72,7.75,Specialized
225,9/10/21,Dn UWS Up ES,22.57,2.0,41.0,2.68,8.41,Specialized
226,9/16/21,Dn ES Up LWS,16.32,1.0,55.0,1.92,8.51,Specialized

In [5]:
# Import Citibike data to datafram
cb_data = 'CitibikeTrips.csv'
cb_df = pd.read_csv(os.path.join(data_path, cb_data))
cb_df

        Date         Destination  Miles  Hours  Minutes  Duration  Speed
0    6/15/16    Citibike to Work   1.04    NaN        9      0.15   6.93
1    6/17/16    Citibike to Work   1.20    NaN       13      0.22   5.54
2    6/17/16     Work to Village   4.69    NaN       40      0.67   7.04
3    6/21/16    Citibike to Work   1.12    NaN       10      0.17   6.72
4    6/21/16  Citibike from Work   0.78    NaN        7      0.12   6.69
..       ...                 ...    ...    ...      ...       ...    ...
154  6/16/21    From Kalustyan's   2.43    NaN       22      0.37   6.63
155  6/25/21          To Despana   4.28    NaN       39      0.65   6.58
156  8/16/21  To Warehouse Wines   2.72    NaN       26      0.43   6.28
157  9/15/21              To JCC   1.83    NaN       17      0.28   6.46
158  9/15/21        From Pioneer   1.76    NaN       13      0.22   8.12

[159 rows x 7 columns]

In [6]:
# Add Label for Citibike Data
cb_df['Type'] = 'Citibike'
cb_df

,Date,Destination,Miles,Hours,Minutes,Duration,Speed,Type
0,6/15/16,Citibike to Work,1.04,NaN,9,0.15,6.93,Citibike
1,6/17/16,Citibike to Work,1.20,NaN,13,0.22,5.54,Citibike
2,6/17/16,Work to Village,4.69,NaN,40,0.67,7.04,Citibike
3,6/21/16,Citibike to Work,1.12,NaN,10,0.17,6.72,Citibike
4,6/21/16,Citibike from Work,0.78,NaN,7,0.12,6.69,Citibike
...,...,...,...,...,...,...,...,...
154,6/16/21,From Kalustyan's,2.43,NaN,22,0.37,6.63,Citibike
155,6/25/21,To Despana,4.28,NaN,39,0.65,6.58,Citibike
156,8/16/21,To Warehouse Wines,2.72,NaN,26,0.43,6.28,Citibike
157,9/15/21,To JCC,1.83,NaN,17,0.28,6.46,Citibike
158,9/15/21,From Pioneer,1.76,NaN,13,0.22,8.12,Citibike

In [7]:
# Combine the dataframes
all_data = [sp_df, cb_df]
all_df = pd.concat(all_data)
all_df

,Date,Destination,Miles,Hours,Minutes,Duration,Speed,Type
0,5/28/16,CP BL,7.99,NaN,50.0,0.83,9.59,Specialized
1,6/19/16,Down ES Up ES,13.98,1.0,51.0,1.85,7.56,Specialized
2,7/3/16,Down ES UP WS,17.84,2.0,10.0,2.17,8.23,Specialized
3,7/10/16,Down ES UP WS,18.38,2.0,20.0,2.33,7.88,Specialized
4,7/16/16,Down ES UP WS,17.99,2.0,5.0,2.08,8.64,Specialized
...,...,...,...,...,...,...,...,...
154,6/16/21,From Kalustyan's,2.43,NaN,22.0,0.37,6.63,Citibike
155,6/25/21,To Despana,4.28,NaN,39.0,0.65,6.58,Citibike
156,8/16/21,To Warehouse Wines,2.72,NaN,26.0,0.43,6.28,Citibike
157,9/15/21,To JCC,1.83,NaN,17.0,0.28,6.46,Citibike
158,9/15/21,From Pioneer,1.76,NaN,13.0,0.22,8.12,Citibike

In [8]:
# Sort the combined dataframe randomly
all_df = all_df.sample(frac=1).reset_index(drop=True)
all_df

,Date,Destination,Miles,Hours,Minutes,Duration,Speed,Type
0,5/2/21,Dn ES Up WS to GWB,29.47,3.0,7.0,3.12,9.46,Specialized
1,7/11/19,Up ES Down WS,19.47,3.0,9.0,3.15,6.18,Specialized
2,9/9/16,Citibike to Work,1.11,NaN,11.0,0.18,6.05,Citibike
3,9/22/20,Up Dn WS to GWB Up ES,28.57,2.0,56.0,2.93,9.74,Specialized
4,11/2/19,Wards Island,14.20,2.0,9.0,2.15,6.60,Specialized
...,...,...,...,...,...,...,...,...
381,10/19/18,CP BL,7.44,NaN,52.0,0.87,8.58,Specialized
382,10/17/16,Work to Orwasher's,2.09,NaN,18.0,0.30,6.97,Citibike
383,7/12/21,Wards Island +,16.11,1.0,59.0,1.98,8.12,Specialized
384,9/29/19,Wards Island,14.66,1.0,48.0,1.80,8.14,Specialized
385,9/16/16,Citibike from Work,1.01,NaN,7.0,0.12,8.66,Citibike

In [9]:
# Export to CSV file for use in Machine Learning Model
all_data_file = 'all_data.csv'
all_df.to_csv(os.path.join(data_path, all_data_file), index=False)

In [10]:
print("Bicycle Trip Data Import Complete")

Bicycle Trip Data Import Complete