## <center>This Notebook will be used to prepare the Bicycle Trip Data <br>for use in the Machine Learning Models</center>

In [14]:
# Importing requisite libraries
import pandas as pd
import os

In [15]:
# Set up data path
data_path = 'data/'

In [16]:
# Import Specialized bike data to dataframe
sp_data = 'SpecializedTrips.csv'
sp_df = pd.read_csv(os.path.join(data_path, sp_data))
sp_df

        Date          Destination  Miles  Hours  Minutes  Duration  Speed
0    5/28/16                CP BL   7.99    NaN     50.0      0.83   9.59
1    6/19/16        Down ES Up ES  13.98    1.0     51.0      1.85   7.56
2     7/3/16        Down ES UP WS  17.84    2.0     10.0      2.17   8.23
3    7/10/16        Down ES UP WS  18.38    2.0     20.0      2.33   7.88
4    7/16/16        Down ES UP WS  17.99    2.0      5.0      2.08   8.64
..       ...                  ...    ...    ...      ...       ...    ...
190  1/17/21         Dn ES Up LWS  15.41    2.0      2.0      2.03   7.58
191  2/24/21         Dn ES Up LWS  14.65    1.0     54.0      1.90   7.71
192   3/9/21         Dn ES Up LWS  15.90    2.0     20.0      2.33   6.81
193  3/21/21         Dn ES Up LWS  15.74    2.0      1.0      2.02   7.80
194  3/27/21  Dn ES Up UWS to 135  25.17    3.0      6.0      3.10   8.12

[195 rows x 7 columns]

In [17]:
# Label to Specialized Data
sp_df['Type'] = "Specialized"
sp_df

,Date,Destination,Miles,Hours,Minutes,Duration,Speed,Type
0,5/28/16,CP BL,7.99,NaN,50.0,0.83,9.59,Specialized
1,6/19/16,Down ES Up ES,13.98,1.0,51.0,1.85,7.56,Specialized
2,7/3/16,Down ES UP WS,17.84,2.0,10.0,2.17,8.23,Specialized
3,7/10/16,Down ES UP WS,18.38,2.0,20.0,2.33,7.88,Specialized
4,7/16/16,Down ES UP WS,17.99,2.0,5.0,2.08,8.64,Specialized
...,...,...,...,...,...,...,...,...
190,1/17/21,Dn ES Up LWS,15.41,2.0,2.0,2.03,7.58,Specialized
191,2/24/21,Dn ES Up LWS,14.65,1.0,54.0,1.90,7.71,Specialized
192,3/9/21,Dn ES Up LWS,15.90,2.0,20.0,2.33,6.81,Specialized
193,3/21/21,Dn ES Up LWS,15.74,2.0,1.0,2.02,7.80,Specialized
194,3/27/21,Dn ES Up UWS to 135,25.17,3.0,6.0,3.10,8.12,Specialized

In [18]:
# Import Citibike data to datafram
cb_data = 'CitibikeTrips.csv'
cb_df = pd.read_csv(os.path.join(data_path, cb_data))
cb_df

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x96 in position 8: invalid start byte