## <center>This Model will Attempt to Predict the Type of Bicycle Used from Trip Data</center>

In [1]:
# Eliminating Warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Importing Libraries
import pandas as pd
import numpy as np
import os
from pathlib import Path
from collections import Counter
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import RandomOverSampler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from imblearn.over_sampling import SMOTE
from sklearn.metrics import balanced_accuracy_score

In [3]:
# Set up data path
data_path = 'data/'

In [4]:
# Load base data to dataframe
all_data_file = 'all_data.csv'
all_df = pd.read_csv(os.path.join(data_path, all_data_file))
all_df

,Date,Destination,Miles,Hours,Minutes,Duration,Speed,Type
0,11/16/16,Citibike from Work,1.72,NaN,15.0,0.25,6.88,Citibike
1,10/18/16,Citibike from Work,0.92,NaN,9.0,0.15,6.13,Citibike
2,9/4/16,Down ES UP WS,16.70,1.0,56.0,1.93,8.64,Specialized
3,2/24/20,Wards Island,11.66,1.0,33.0,1.55,7.52,Specialized
4,8/24/16,Citibike from Work,0.83,NaN,8.0,0.13,6.23,Citibike
...,...,...,...,...,...,...,...,...
342,11/18/16,Citibike from Work,0.84,NaN,7.0,0.12,7.20,Citibike
343,9/22/16,Citibike to Work,1.05,NaN,11.0,0.18,5.73,Citibike
344,7/3/16,Down ES UP WS,17.84,2.0,10.0,2.17,8.23,Specialized
345,11/17/16,Citibike to Work,1.20,NaN,12.0,0.20,6.00,Citibike
346,10/10/16,Citibike to Work,2.30,NaN,19.0,0.32,7.26,Citibike

In [5]:
# Defining fields to use
columns = ['Miles', 'Duration', 'Speed']
target = ['Type']

In [6]:
# Create Dataframe with desired columns
new_df = all_df.loc[:,columns].copy()
new_df

     Miles  Duration  Speed
0     1.72      0.25   6.88
1     0.92      0.15   6.13
2    16.70      1.93   8.64
3    11.66      1.55   7.52
4     0.83      0.13   6.23
..     ...       ...    ...
342   0.84      0.12   7.20
343   1.05      0.18   5.73
344  17.84      2.17   8.23
345   1.20      0.20   6.00
346   2.30      0.32   7.26

[347 rows x 3 columns]

In [8]:
# Create Dataframe with desired columns
new2_df = all_df[['Miles', 'Duration', 'Speed']]
new2_df

     Miles  Duration  Speed
0     1.72      0.25   6.88
1     0.92      0.15   6.13
2    16.70      1.93   8.64
3    11.66      1.55   7.52
4     0.83      0.13   6.23
..     ...       ...    ...
342   0.84      0.12   7.20
343   1.05      0.18   5.73
344  17.84      2.17   8.23
345   1.20      0.20   6.00
346   2.30      0.32   7.26

[347 rows x 3 columns]