## <center>This Notebook will be used to prepare the Bicycle Trip Data <br>for use in the Machine Learning Models</center>

In [1]:
# Importing requisite libraries
import pandas as pd
import os

In [2]:
# Set up data path
data_path = 'data'

In [3]:
# Import Specialized bike data to dataframe
sp_data = 'SpecializedTrips.csv'
sp_df = pd.read_csv(os.path.join(data_path, sp_data))
sp_df

        Date          Destination  Miles  Hours  Minutes  Duration  Speed
0    5/28/16                CP BL   7.99    NaN     50.0      0.83   9.59
1    6/19/16        Down ES Up ES  13.98    1.0     51.0      1.85   7.56
2     7/3/16        Down ES UP WS  17.84    2.0     10.0      2.17   8.23
3    7/10/16        Down ES UP WS  18.38    2.0     20.0      2.33   7.88
4    7/16/16        Down ES UP WS  17.99    2.0      5.0      2.08   8.64
..       ...                  ...    ...    ...      ...       ...    ...
192   3/9/21         Dn ES Up LWS  15.90    2.0     20.0      2.33   6.81
193  3/21/21         Dn ES Up LWS  15.74    2.0      1.0      2.02   7.80
194  3/27/21  Dn ES Up UWS to 135  25.17    3.0      6.0      3.10   8.12
195   4/6/21         Wards Island  12.59    1.0     47.0      1.78   7.06
196   4/8/21         Wards Island  13.25    1.0     44.0      1.73   7.64

[197 rows x 7 columns]

In [4]:
# Add Label for Specialized Data
sp_df['Type'] = "Specialized"
sp_df

,Date,Destination,Miles,Hours,Minutes,Duration,Speed,Type
0,5/28/16,CP BL,7.99,NaN,50.0,0.83,9.59,Specialized
1,6/19/16,Down ES Up ES,13.98,1.0,51.0,1.85,7.56,Specialized
2,7/3/16,Down ES UP WS,17.84,2.0,10.0,2.17,8.23,Specialized
3,7/10/16,Down ES UP WS,18.38,2.0,20.0,2.33,7.88,Specialized
4,7/16/16,Down ES UP WS,17.99,2.0,5.0,2.08,8.64,Specialized
...,...,...,...,...,...,...,...,...
192,3/9/21,Dn ES Up LWS,15.90,2.0,20.0,2.33,6.81,Specialized
193,3/21/21,Dn ES Up LWS,15.74,2.0,1.0,2.02,7.80,Specialized
194,3/27/21,Dn ES Up UWS to 135,25.17,3.0,6.0,3.10,8.12,Specialized
195,4/6/21,Wards Island,12.59,1.0,47.0,1.78,7.06,Specialized
196,4/8/21,Wards Island,13.25,1.0,44.0,1.73,7.64,Specialized

In [5]:
# Import Citibike data to datafram
cb_data = 'CitibikeTrips.csv'
cb_df = pd.read_csv(os.path.join(data_path, cb_data))
cb_df

         Date         Destination  Miles  Hours  Minutes  Duration  Speed
0     6/15/16    Citibike to Work   1.04    NaN        9      0.15   6.93
1     6/17/16    Citibike to Work   1.20    NaN       13      0.22   5.54
2     6/17/18     Work to Village   4.69    NaN       40      0.67   7.04
3     6/21/16    Citibike to Work   1.12    NaN       10      0.17   6.72
4     6/21/16  Citibike from Work   0.78    NaN        7      0.12   6.69
..        ...                 ...    ...    ...      ...       ...    ...
147   9/25/20       To Fairway ES   1.56    NaN       14      0.23   6.69
148  12/27/20           To Zabars   2.30    NaN       21      0.35   6.57
149  12/27/20         From Zabars   1.75    NaN       15      0.25   7.00
150  12/29/20          To Trek WS   3.39    NaN       19      0.32  10.71
151   3/26/21       To El Tepeyac   3.10    NaN       28      0.47   6.64

[152 rows x 7 columns]

In [6]:
# Add Label for Citibike Data
cb_df['Type'] = 'Citibike'
cb_df

,Date,Destination,Miles,Hours,Minutes,Duration,Speed,Type
0,6/15/16,Citibike to Work,1.04,NaN,9,0.15,6.93,Citibike
1,6/17/16,Citibike to Work,1.20,NaN,13,0.22,5.54,Citibike
2,6/17/18,Work to Village,4.69,NaN,40,0.67,7.04,Citibike
3,6/21/16,Citibike to Work,1.12,NaN,10,0.17,6.72,Citibike
4,6/21/16,Citibike from Work,0.78,NaN,7,0.12,6.69,Citibike
...,...,...,...,...,...,...,...,...
147,9/25/20,To Fairway ES,1.56,NaN,14,0.23,6.69,Citibike
148,12/27/20,To Zabars,2.30,NaN,21,0.35,6.57,Citibike
149,12/27/20,From Zabars,1.75,NaN,15,0.25,7.00,Citibike
150,12/29/20,To Trek WS,3.39,NaN,19,0.32,10.71,Citibike
151,3/26/21,To El Tepeyac,3.10,NaN,28,0.47,6.64,Citibike

In [7]:
# Combine the dataframes
all_data = [sp_df, cb_df]
all_df = pd.concat(all_data)
all_df

,Date,Destination,Miles,Hours,Minutes,Duration,Speed,Type
0,5/28/16,CP BL,7.99,NaN,50.0,0.83,9.59,Specialized
1,6/19/16,Down ES Up ES,13.98,1.0,51.0,1.85,7.56,Specialized
2,7/3/16,Down ES UP WS,17.84,2.0,10.0,2.17,8.23,Specialized
3,7/10/16,Down ES UP WS,18.38,2.0,20.0,2.33,7.88,Specialized
4,7/16/16,Down ES UP WS,17.99,2.0,5.0,2.08,8.64,Specialized
...,...,...,...,...,...,...,...,...
147,9/25/20,To Fairway ES,1.56,NaN,14.0,0.23,6.69,Citibike
148,12/27/20,To Zabars,2.30,NaN,21.0,0.35,6.57,Citibike
149,12/27/20,From Zabars,1.75,NaN,15.0,0.25,7.00,Citibike
150,12/29/20,To Trek WS,3.39,NaN,19.0,0.32,10.71,Citibike
151,3/26/21,To El Tepeyac,3.10,NaN,28.0,0.47,6.64,Citibike

In [8]:
# Sort the combined dataframe randomly
all_df = all_df.sample(frac=1).reset_index(drop=True)
all_df

,Date,Destination,Miles,Hours,Minutes,Duration,Speed,Type
0,8/3/20,Wards Island,12.50,1.0,45.0,1.75,7.14,Specialized
1,6/7/20,To From Astoria,8.25,2.0,1.0,2.02,4.09,Specialized
2,8/18/16,Citibike from Work,0.79,NaN,6.0,0.10,7.90,Citibike
3,7/6/19,Down ES Up WS,16.12,2.0,12.0,2.20,7.33,Specialized
4,6/7/19,CP BL,7.47,NaN,54.0,0.90,8.30,Specialized
...,...,...,...,...,...,...,...,...
344,7/26/20,Wards Island,12.67,1.0,35.0,1.58,8.00,Specialized
345,6/4/19,To Essex Market,3.51,NaN,35.0,0.58,6.02,Citibike
346,3/24/20,CP BL,7.40,NaN,48.0,0.80,9.25,Specialized
347,9/20/19,CP BL,7.53,NaN,51.0,0.85,8.86,Specialized
348,6/3/20,To From Economy Candy,8.08,1.0,10.0,1.17,6.93,Specialized

In [9]:
# Export to CSV file for safekeeping
all_data_file = 'all_data.csv'
all_df.to_csv(os.path.join(data_path, all_data_file),index=False)